.App{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 10px;
}

.appHeader{
    height: 60px;
    display: flex;
    justify-content: center; 
    /* align-items: center; */
}